package templates;

import "sblog/utils"
import m "sblog/models"

templ PostSingle(post m.Post, categories []m.Category) {
	@Layout(nil) {
		<div class="mb-4">
			<h1 class="text-4xl">{ post.Title }</h1>
		</div>

		<div>Date: { utils.FormatTime(post.CreatedAt) }</div>

		@PostCategories(categories)

		<div class="post-single">
			<!-- TODO: markdown -->
			{ post.Content }

			<div class="flex justify-center my-12">
				<hr class="w-1/3"/>
			</div>
		</div>
	}
}
